@import "tailwindcss";
@import "tw-animate-css";
/*  ---break---  */
@custom-variant dark (&:is(.dark *));

body {
  height: 100vh;
  overflow: clip;
}

#root {
  height: 100%;
  display: flex;

}

section {
  height: 100%;
  flex-basis: 35%;
  display: flex;
  @apply border-r;
}

main {
  height: 100%;
  flex-basis: 65%;
  @apply bg-gray-400;
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.76) inset;
  -webkit-box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.76) inset;
  -moz-box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.76) inset;
  overflow-y: auto;
}

main .paper {
  background: white;
  aspect-ratio: 8.5/11;
  /*  Word Format  */
  height: 100%;
  scale: 0.9;
  margin: auto;
  box-shadow: 0px 0px 3em 0.4em rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 0px 3em 0.4em rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 3em 0.4em rgba(0, 0, 0, 0.64);
}

section.config-section {
  font-family: "Montserrat", sans-serif;
}

section .sidebar {
  height: 100%;
  flex-basis: 20%;
  padding-inline: 1rem;
  @apply bg-gray-700;
}

.sidebar-list {
  padding-top: 5vh;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.sidebar-list li {
  color: whitesmoke;
  text-align: center;
}

.sidebar-list button {
  cursor: pointer;
}

.sidebar-list svg {
  transition: all 0.1s ease-in;
  height: 26px;
  width: 26px;
  padding: 10px;
}

.sidebar-list button:hover>svg {
  background-color: white;
  @apply text-gray-700 rounded-full opacity-60;
}

.active-sidebar button>svg {
  background-color: white;
  @apply text-gray-700 rounded-full;
}


.sidebar-list li p {
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.8pt;
}

section .fields-container {
  height: 100%;
  flex: 1;
  box-shadow: 5px 0px 3px 0px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 5px 0px 3px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 5px 0px 3px 0px rgba(0, 0, 0, 0.85);
  padding: 3rem 2rem;
  overflow: auto;

  @apply bg-gray-200;
}











/*  ---break---  */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*  ---break---  */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

/*  ---break---  */

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

/*  ---break---  */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}